{% extends "dashboard.html" %}

{% block menu %}
<div class="cardMainMenu">
  <button class="xButton closeHashage">
        X
  </button>
  <div>
    <h2 class="center">Hashage (  
      {% if algo == "1" %}
      MD5
      {% endif %}
      {% if algo == "2" %}
      SHA-128
      {% endif %}
      {% if algo == "3" %}
      SHA-256
      {% endif %}
      )
    </h2>
    <div id="hashingContainer" class="containerOverflow flexcroll">
       
        <p class="functionnalityMenu">
          -- Message à hasher:
        </p>
    </div>
  </div>
  <form name="hashage">
    <input type="hidden" name="algo" value="{{algo}}" required>
    <p class="option">>>>  Message:  <input type="text" name="message" required class="inputMenu" autofocus>
    </p>  
  </form>
</div>
{% endblock %}