{% extends "dashboard.html" %}

{% block menu %}
<div class="cardMainMenu">
  <button class="xButton closeMain">
    X
</button>
  <div>
      <h2 class="center">Asymmetric encryption menu
        (  
      {% if algo == "1" %}
      ElGamal
      {% endif %}
      {% if algo == "2" %}
      RSA
      {% endif %}
      )
      </h2>
    <p class="menu">
        1- Création de clés <br>
        2- Chiffrement asymétrique <br>
        3- Déchiffrement asymétrique <br>
    </p>
  </div>
  <form name="asymmetricEnDecMenu">
    <input type="hidden" name="algo" value="{{algo}}" required>
    <p class="option">>>>  Option:  <input type="text" name="endec" required class="inputMenu" autofocus>
    </p>  
  </form>
</div>
{% endblock %}