{% extends "dashboard.html" %}

{% block menu %}
<div class="cardMainMenu">
  <button class="xButton closeMain">
    X
  </button>
  <div>
      <h2 class="center">Craquage menu
        (  
          {% if algo == "1" %}
          MD5
          {% endif %}
          {% if algo == "2" %}
          SHA-128
          {% endif %}
          {% if algo == "3" %}
          SHA-256
          {% endif %}
          )
      </h2>
    <p class="menu">
        1- Short Real human wordlist <br>
        2- Real human wordlist <br>
    </p>
  </div>
  <form name="crackingWordlistMenu">
    <input type="hidden" name="algo" value="{{algo}}" required>
    <p class="option">>>>  Option:  <input type="text" name="dictionnary" required class="inputMenu" autofocus>
    </p>  
  </form>
</div>
{% endblock %}