<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wasp</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
  <link rel="stylesheet" href="/static/css/styles.css">

</head>
<body>

  {% block content %}
    {# Template inserted here #}
  {% endblock %}
  <script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
  <script
  src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"
  integrity="sha256-hlKLmzaRlE8SCJC1Kw8zoUbU8BxA+8kR3gseuKfMjxA="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/forge/1.2.1/forge.min.js" integrity="sha512-2s1RzeSjxOxyiFes9ALhe0BK+i1m5jNmms+jWxdYB5aBPNGs9kMnp1A1uZ6KHyReD+eugSJlGIGC/ocWELT0+A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="/static/js/scripts.js"></script>
</body>
</html>