{% extends "base.html" %}

{% block content %}
  <div class="card-wrapper">

    <div class="card">

      <h1 class="center">Log In</h1>

      <form name="login_form">

        <label for="email">Email</label>
        <input type="email" name="email" class="field" autocomplete="false"  required>

        <label for="password">Password</label>
        <input type="password" name="password" class="field" autocomplete="false"  required>

        <p class="error error--hidden"></p>

        <input type="submit" value="Log In" class="btn">
      
      </form>
      
    </div>
    <div class="subcard">
      <p>Don't have an account? <a href= " {{ url_for('registerScreen') }} ">Register</a></p>
    </div>
  </div>
{% endblock %}