{% extends "base.html" %}

{% block content %}
  <div class="card-wrapper">

    <div class="card">

      <h1 class="center">Create an Account</h1>

      <form name="signup_form" autocomplete="off">

        <label for="name">Name</label>
        <input type="text" name="name" class="field" required>

        <label for="email">Email</label>
        <input type="email" name="email" class="field" required>

        <label for="password">Password</label>
        <input type="password" name="password" class="field" required>

        <label for="passwordCheck">Password check</label>
        <input type="password" name="passwordCheck" class="field" required>
        <p id="passwordError"></p>
        <p class="error error--hidden"></p>

        <input type="submit" value="Sign Up" class="btn">
      
      </form>
      
    </div>
    <div class="subcard">
        <p>Already have an account? <a href= " {{ url_for('home') }} ">Log in</a></p>
      </div>
  
  </div>
{% endblock %}